* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #323232;
  font-family: "Lobster", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 960px;
  height: 700px;
  outline: 10px solid red;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column-reverse;
  gap: 10px;
  margin: 0 auto;
}

.grid-item {
  background-color: white;
}

.controls {
  display: flex;
  gap: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #d75353;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 20px auto;
  font-family: "Permanent Marker", cursive;
  font-size: 1.6rem;
}

button:hover {
  background-color: white;
  color: #d75353;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 1.6rem;
}

.start-button {
  margin-top: 20px;
  padding: 10px 20px;
}

h1 {
  font-size: 4rem;
  margin-bottom: 40px;
}

p {
  font-size: 2rem;
  margin-bottom: 20px;
}

.text-container {
  margin: 0 auto;
  width: 600px;
  line-height: 1.5;
}
