* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.grid {
  display: flex;
  flex-wrap: wrap;

  overflow: hidden;
  margin: 0 auto;

  width: 960px;
  height: 1000px;
  background-color: black;
  border: 5px solid black;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column-reverse;
  gap: 10px;
  margin: 0 auto;
  width: 1200px;
  height: 100vh;
  max-height: 1000px;
}

.grid-item {
  background-color: red;
  margin: 0;
  padding: 0;
  text-align: center;
  border-radius: 5px;
  width: 80px;
  height: 80px;
}
